@model EmergencyContact
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row col-12">
                <div class="row pb-1">
                    <h2 class="text-primary">@(Model.Id != 0 ? "Update" : "Create") Emergency Contact</h2>
                </div>
                <hr />
                <div asp-validation-summary="All"></div>
                <div class="mb-3 col-6">
                    <label asp-for="EmployeeDetailId"></label>
                    <select asp-for="EmployeeDetailId" asp-items="ViewBag.EmployeeDetailList" class="form-select">
                        <option disabled selected>--Select Employee--</option>
                    </select>
                    <span asp-validation-for="EmployeeDetailId" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" rows="3" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Relationship"></label>
                    <input type="text" asp-for="Relationship" class="form-control" />
                    <span asp-validation-for="Relationship" class="text-danger"></span>

                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Address"></label>
                    <input type="text" asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>

                </div>



                <div class="col-12">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }

                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                    }

                    <a class="btn btn-danger" asp-controller="EmergencyContact" asp-action="Index" style="width:180px">Back To List</a>
                </div>
            </div>
        </div>

    </div>




</form>
