@model JobInformation
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row col-12">
                <div class="row pb-1">
                    <h2 class="text-primary">@(Model.Id != 0 ? "Update" : "Create") Job Information</h2>
                </div>
                <hr />
                <div asp-validation-summary="All"></div>
                <div class="mb-3 col-6">
                    <label asp-for="EmployeeDetailId"></label>
                    <select asp-for="EmployeeDetailId" asp-items="ViewBag.EmployeeDetailList" class="form-select">
                        <option disabled selected>--Select Employee--</option>
                    </select>
                    <span asp-validation-for="EmployeeDetailId" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Department"></label>
                    <input asp-for="Department" class="form-control" rows="3" />
                    <span asp-validation-for="Department" class="text-danger"></span>

                </div>
                <div class="mb-3 col-6">
                    <label asp-for="StartDate"></label>
                    <input type="date" asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>

                </div>
                <div class="mb-3 col-6">
                    <label asp-for="WorkLocation"></label>
                    <input type="text" asp-for="WorkLocation" class="form-control" />
                    <span asp-validation-for="WorkLocation" class="text-danger"></span>

                </div>

             

                <div class="col-12">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }

                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                    }

                    <a class="btn btn-danger" asp-controller="JobInformation" asp-action="Index" style="width:180px">Back To List</a>
                </div>
            </div>
        </div>

    </div>




</form>
