<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SidebarCss.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SignatureTechnologies.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header>
    

        <nav class="navbar fixed-top " style=" background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);">
            <div class="container-fluid">
              
                <a class="ms-auto" href="#" style="font-size:20px; color:white;"><i class="bi bi-bell-fill"></i></a>
                <partial name="_LoginPartial" />
            </div>
           
        </nav>
    </header>
    <div id="wrapper" class="toggled">
       

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Signature Technologies</a>
                    </div>
                </div>
                <li> <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Employee Managment</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Employee" asp-action="Index">Employee Detail</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="JobInformation" asp-action="Index">JOB Information</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="EmergencyContact" asp-action="Index">Emergency Contact</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="ProjectManagement" asp-action="Index">Project Management</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="EmergencyContact" asp-action="Index">Expenses Management</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create User</a>
                    </div>

                </li>

               
              
            </ul>
           
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger  fadeInLeft is-open" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            &copy; 2023 - SignatureTechnologies - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Sidebar.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
